<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
    <link rel="stylesheet" href="../Css/index-tailwind.css">
</head>
<body class="bg-background">
    <!-- npx tailwindcss -i ./Css/index.css -o ./Css/index-tailwind.css --watch -->
    <div class="min-h-screen flex items-center justify-center bg-background font-Nunito">
        <div class="wrapper bg--login flex items-center justify-center sm:bg-gradient-to-b from-[#8E46CD30] via-[#CCABE830] to-[#FFFFFF30] bg-opacity-30 rounded-[20px] shadow-lg m-12 w-96 h-[520px]">
            <div class="w-80">
                <div class="flex items-center justify-center">
                    <p class="text-[#FFFF]">
                        <span class="font-Nunito font-bold text-stroke text-3xl">
                            <span class="text-[#008DC6]">L</span><span class="text-[#3acf67]">ee</span><span
                                class="text-[#C0C535]">l</span><span class="text-[#faa835]">u</span><span
                                class="text-[#ee3a3a]">n</span></span>
                        <span class="text-[#ffff] text-xl mr-2">life</span>
                    </p>
                </div>
                <div class="flex items-center justify-center pt-7">
                    <h1 class="text-[#ffff] font-bold text-3xl mr-2">Reset your password</h1>
                </div>
                <div class="flex justify-center">
                    <hr class="w-1/2 border-1 border-[#fff] border-opacity-50 mt-3">
                </div>
                <div class="space-y-5 text-[#fff] pt-6">
                    <div>
                        <label class="block text-[#fff] text-lg" for="email_or_username">Email or username</label>
                        <input class="block border border-[#818181] hover:border-[#fff] rounded bg-transparent text-white px-4 py-2 w-full h-10" type="text" id="email_or_username" placeholder="email or username">
                    </div>
                </div>
                <button class="text-[#fff] bg-[#A35DE1] border border-[#fff] hover:text-[#A35DE1] hover:bg-[#fff] hover:border-[#A35DE1] font-bold py-2 px-4 rounded-3xl w-full mt-5">Send OTP Code
                </button>
                <div class="text-center mt-4 text-[#fff] text-sm">
                    You already have an account? <a href="./login.html" class="text-[#fff] font-bold hover:text-[#A35DE1]">Log in here
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>