<!DOCTYPE html>
<html>
    <head>
        <title>Thuong thuc am nhac</title>
        <link rel="stylesheet" href="/Css/index-tailwind.css">
    </head>
    <body>
        <aside id="side-bar"></aside>
        <div id="main-content" class="flex-1 overflow-hidden">
            <header id="navigation-bar"></header>
            <div id="js__content"
                class="flex-1 w-full bg-[#170F23] h-full overflow-y-scroll">
                <!-- The div nay se la the duoc dua vao index.html -->
                <div id="content-page__library"
                    class="w-full h-full">
                    <!-- Viet content trong nay -->
                    <div class="max-w-[90%] mx-auto">
                        <!-- Library -->
                        <div>
                            <div class="flex items-center">
                                <h1 class="inline-block font-Nunito font-bold text-4xl text-[#fff] m-2 mt-[15px]">Library</h1>
                            <button class="inline-block w-[40px] h-[40px] m-1">
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22ZM10.6935 15.8458L15.4137 13.059C16.1954 12.5974 16.1954 11.4026 15.4137 10.941L10.6935 8.15419C9.93371 7.70561 9 8.28947 9 9.21316V14.7868C9 15.7105 9.93371 16.2944 10.6935 15.8458Z" fill="#fff"/>
                                </svg>
                            </button>
                            </div>
    
                            <div class="grid grid-cols-5 gap-5">
                                <div class="relative w-32 h-32 rounded-full overflow-visible mt-4">
                                    <!-- Ảnh đại diện --> 
                                    <button class="relative w-full h-full mr-5 overflow-hidden rounded-full">
                                        <div class="absolute inset-0">
                                            <img class="w-full h-full object-cover rounded-2xl bg-[#FFF] transition-transform duration-300 ease-in-out hover:scale-110" src="../../Assets/image/library/j97.jpg" alt="j97">
                                        </div>
                                    </button>
                                    <!-- Nút -->
                                    <button class="absolute w-8 h-8 bottom-2 right-2 bg-[#fff] p-2 rounded-full shadow-md hover:bg-[#d8d7d7] z-20">
                                        <!-- Icon -->
                                        <svg class="w-4 h-4" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.772 4.28c.56-.144 1.097.246 1.206.814.1.517-.263 1.004-.771 1.14A7 7 0 1 0 19 12.9c.009-.5.4-.945.895-1 .603-.067 1.112.371 1.106.977L21 13c0 .107-.002.213-.006.32a.898.898 0 0 1 0 .164l-.008.122a9 9 0 0 1-9.172 8.392A9 9 0 0 1 9.772 4.28z" fill="#000000" />
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.93 13.753a4.001 4.001 0 1 1-6.758-3.581A4 4 0 0 1 12 9c.75 0 1.3.16 2 .53 0 0 .15.09.25.17-.1-.35-.228-1.296-.25-1.7a58.75 58.75 0 0 1-.025-2.035V2.96c0-.52.432-.94.965-.94.103 0 .206.016.305.048l4.572 1.689c.446.145.597.23.745.353.148.122.258.27.33.446.073.176.108.342.108.801v1.16c0 .518-.443.94-.975.94a.987.987 0 0 1-.305-.049l-1.379-.447-.151-.05c-.437-.14-.618-.2-.788-.26a5.697 5.697 0 0 1-.514-.207 3.53 3.53 0 0 1-.213-.107c-.098-.05-.237-.124-.521-.263L16 6l.011 7c0 .255-.028.507-.082.753h.001z" fill="#000000" />
                                        </svg>
                                    </button>
                                    <!-- J97 -->
                                    <p class="text-center text-[#fff] font-medium mt-3">Jack J97</p>
                                </div>
    
                                <div class="relative w-32 h-32 rounded-full overflow-visible mt-4">
                                    <!-- Ảnh đại diện --> 
                                    <button class="relative w-full h-full mr-5 overflow-hidden rounded-full">
                                        <div class="absolute inset-0">
                                            <img class="w-full h-full object-cover rounded-2xl bg-[#FFF] transition-transform duration-300 ease-in-out hover:scale-110" src="../../Assets/image/library/j97.jpg" alt="j97">
                                        </div>
                                    </button>
                                    <!-- Nút -->
                                    <button class="absolute w-8 h-8 bottom-2 right-2 bg-[#fff] p-2 rounded-full shadow-md hover:bg-[#d8d7d7] z-20">
                                        <!-- Icon -->
                                        <svg class="w-4 h-4" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.772 4.28c.56-.144 1.097.246 1.206.814.1.517-.263 1.004-.771 1.14A7 7 0 1 0 19 12.9c.009-.5.4-.945.895-1 .603-.067 1.112.371 1.106.977L21 13c0 .107-.002.213-.006.32a.898.898 0 0 1 0 .164l-.008.122a9 9 0 0 1-9.172 8.392A9 9 0 0 1 9.772 4.28z" fill="#000000" />
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.93 13.753a4.001 4.001 0 1 1-6.758-3.581A4 4 0 0 1 12 9c.75 0 1.3.16 2 .53 0 0 .15.09.25.17-.1-.35-.228-1.296-.25-1.7a58.75 58.75 0 0 1-.025-2.035V2.96c0-.52.432-.94.965-.94.103 0 .206.016.305.048l4.572 1.689c.446.145.597.23.745.353.148.122.258.27.33.446.073.176.108.342.108.801v1.16c0 .518-.443.94-.975.94a.987.987 0 0 1-.305-.049l-1.379-.447-.151-.05c-.437-.14-.618-.2-.788-.26a5.697 5.697 0 0 1-.514-.207 3.53 3.53 0 0 1-.213-.107c-.098-.05-.237-.124-.521-.263L16 6l.011 7c0 .255-.028.507-.082.753h.001z" fill="#000000" />
                                        </svg>
                                    </button>
                                    <!-- J97 -->
                                    <p class="text-center text-[#fff] font-medium mt-3">Jack J97</p>
                                </div>
    
                                <div class="relative w-32 h-32 rounded-full overflow-visible mt-4">
                                    <!-- Ảnh đại diện --> 
                                    <button class="relative w-full h-full mr-5 overflow-hidden rounded-full">
                                        <div class="absolute inset-0">
                                            <img class="w-full h-full object-cover rounded-2xl bg-[#FFF] transition-transform duration-300 ease-in-out hover:scale-110" src="../../Assets/image/library/j97.jpg" alt="j97">
                                        </div>
                                    </button>
                                    <!-- Nút -->
                                    <button class="absolute w-8 h-8 bottom-2 right-2 bg-[#fff] p-2 rounded-full shadow-md hover:bg-[#d8d7d7] z-20">
                                        <!-- Icon -->
                                        <svg class="w-4 h-4" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.772 4.28c.56-.144 1.097.246 1.206.814.1.517-.263 1.004-.771 1.14A7 7 0 1 0 19 12.9c.009-.5.4-.945.895-1 .603-.067 1.112.371 1.106.977L21 13c0 .107-.002.213-.006.32a.898.898 0 0 1 0 .164l-.008.122a9 9 0 0 1-9.172 8.392A9 9 0 0 1 9.772 4.28z" fill="#000000" />
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.93 13.753a4.001 4.001 0 1 1-6.758-3.581A4 4 0 0 1 12 9c.75 0 1.3.16 2 .53 0 0 .15.09.25.17-.1-.35-.228-1.296-.25-1.7a58.75 58.75 0 0 1-.025-2.035V2.96c0-.52.432-.94.965-.94.103 0 .206.016.305.048l4.572 1.689c.446.145.597.23.745.353.148.122.258.27.33.446.073.176.108.342.108.801v1.16c0 .518-.443.94-.975.94a.987.987 0 0 1-.305-.049l-1.379-.447-.151-.05c-.437-.14-.618-.2-.788-.26a5.697 5.697 0 0 1-.514-.207 3.53 3.53 0 0 1-.213-.107c-.098-.05-.237-.124-.521-.263L16 6l.011 7c0 .255-.028.507-.082.753h.001z" fill="#000000" />
                                        </svg>
                                    </button>
                                    <!-- J97 -->
                                    <p class="text-center text-[#fff] font-medium mt-3">Jack J97</p>
                                </div>
    
                                <div class="relative w-32 h-32 rounded-full overflow-visible mt-4">
                                    <!-- Ảnh đại diện --> 
                                    <button class="relative w-full h-full mr-5 overflow-hidden rounded-full">
                                        <div class="absolute inset-0">
                                            <img class="w-full h-full object-cover rounded-2xl bg-[#FFF] transition-transform duration-300 ease-in-out hover:scale-110" src="../../Assets/image/library/j97.jpg" alt="j97">
                                        </div>
                                    </button>
                                    <!-- Nút -->
                                    <button class="absolute w-8 h-8 bottom-2 right-2 bg-[#fff] p-2 rounded-full shadow-md hover:bg-[#d8d7d7] z-20">
                                        <!-- Icon -->
                                        <svg class="w-4 h-4" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.772 4.28c.56-.144 1.097.246 1.206.814.1.517-.263 1.004-.771 1.14A7 7 0 1 0 19 12.9c.009-.5.4-.945.895-1 .603-.067 1.112.371 1.106.977L21 13c0 .107-.002.213-.006.32a.898.898 0 0 1 0 .164l-.008.122a9 9 0 0 1-9.172 8.392A9 9 0 0 1 9.772 4.28z" fill="#000000" />
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.93 13.753a4.001 4.001 0 1 1-6.758-3.581A4 4 0 0 1 12 9c.75 0 1.3.16 2 .53 0 0 .15.09.25.17-.1-.35-.228-1.296-.25-1.7a58.75 58.75 0 0 1-.025-2.035V2.96c0-.52.432-.94.965-.94.103 0 .206.016.305.048l4.572 1.689c.446.145.597.23.745.353.148.122.258.27.33.446.073.176.108.342.108.801v1.16c0 .518-.443.94-.975.94a.987.987 0 0 1-.305-.049l-1.379-.447-.151-.05c-.437-.14-.618-.2-.788-.26a5.697 5.697 0 0 1-.514-.207 3.53 3.53 0 0 1-.213-.107c-.098-.05-.237-.124-.521-.263L16 6l.011 7c0 .255-.028.507-.082.753h.001z" fill="#000000" />
                                        </svg>
                                    </button>
                                    <!-- J97 -->
                                    <p class="text-center text-[#fff] font-medium mt-3">Jack J97</p>
                                </div>
                                <!-- See all -->
                                <div class="relative w-32 h-32 border rounded-full border-[#fff] overflow-visible mt-4 group">
                                    <button class="relative w-full h-full mr-5 overflow-hidden rounded-full">
                                    </button>
                                    <button class="absolute flex justify-center items-center w-10 h-10 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 shadow-md">
                                        <svg class="w-8 h-8 fill-[#fff] group-hover:fill-[#bd6fe7]" viewBox="0 0 24 24" id="_24x24_On_Light_Next" data-name="24x24/On Light/Next" xmlns="http://www.w3.org/2000/svg">
                                            <rect id="view-box" width="24" height="24" fill="#fff" opacity="0"/>
                                            <path id="Shape" d="M10.22,9.28a.75.75,0,0,1,0-1.06l2.72-2.72H.75A.75.75,0,0,1,.75,4H12.938L10.22,1.281A.75.75,0,1,1,11.281.22l4,4a.749.749,0,0,1,0,1.06l-4,4a.75.75,0,0,1-1.061,0Z" transform="translate(4.25 7.25)" fill=""/>
                                        </svg>
                                    </button>
                                    <!-- J97 -->
                                    <p class="text-center text-[#fff] group-hover:text-[#bd6fe7] font-medium mt-3">See All</p>
                                </div>
    
    
                            </div>
                        </div>

                        <!-- Playlist -->
                        <div class="mt-[50px]">
                            <div class="flex items-center">
                                <h1 class="inline-block font-Nunito font-normal text-2xl text-[#fff] m-2 mt-[15px]">PLAYLIST</h1>
                            <button class="inline-block rounded-full bg-[#fff] w-[30px] h-[30px] m-1">
                                <svg class="fill-[#fff] hover:fill-[#bd6fe7]" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 12H20M12 4V20" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill=""/>
                                </svg>
                            </button>
                            </div>

                            <button class="relative w-48 h-48 mr-5 overflow-hidden rounded-2xl mt-5">
                                <div class="absolute inset-0">
                                    <img
                                        class="w-full h-full object-cover rounded-2xl bg-[#FFF] transition-transform duration-300 ease-in-out hover:scale-110"
                                        src="../../Assets/image/topic&genre/news.jpg"
                                        alt="News">
                                </div>
                                <div class="absolute inset-0 flex font-Nunito justify-center items-center pointer-events-none">
                                    <h1 class="text-[#fff] font-bold text-xl">Tên playlist</h1>
                                </div>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <script type="module" src="/Components/layout.js"></script>
    </body>
</html>