<!DOCTYPE html>
<html>

    <head>
        <title>Thuong thuc am nhac</title>
        <link rel="stylesheet" href="../../Css/index-tailwind.css">
    </head>

    <body>
        <aside id="side-bar"></aside>
        <div id="main-content"
            class="font-Nunito flex-1 flex flex-col overflow-hidden">
            <header id="navigation-bar"></header>
            <div id="js__content"
                class="flex-1 w-full bg-[#170F23] h-full overflow-y-scroll overflow-x-hiddenz">
                z
                <!-- Begin Content page -->`
                <div id="content-page__explore" class=" w-full h-full">
                    <div
                        class="w-auto h-60 ml-10 flex flex-row sm:justify-center xl:justify-between items-center ">
                        <button class="min-w-80 w-96 mr-5 h-5/6">
                            <img
                                class="w-full z-10 h-full object-cover rounded-2xl bg-[#FFF]"
                                src="../../Assets/image/~Test/454732107_1028421092310182_1338812405035838460_n.jpg">
                        </button>

                        <button
                            class="min-w-80 w-96 mr-5 h-5/6 hidden md:inline">
                            <img
                                class="w-full h-full object-cover rounded-2xl bg-[#FFF]"
                                src="../../Assets/image/~Test/454732107_1028421092310182_1338812405035838460_n.jpg">

                        </button>
                        <button
                            class="min-w-80 w-96 mr-5 h-5/6 hidden xl:inline">
                            <img
                                class="w-full h-full object-cover rounded-2xl bg-[#FFF]"
                                src="../../Assets/image/~Test/454732107_1028421092310182_1338812405035838460_n.jpg">

                        </button>
                    </div>

                    <!-- Explore suggesstion -->
                    <div
                        class="explorer__suggestions ml-10 mt-5 flex flex-col w-full overflow-y-scroll">
                        <div
                            class="w-full min-w-96 flex flex-row justify-between  items-center">
                            <div class="w-fit h-full mr-4">
                                <p
                                    class="text-[#817D88] font-semibold text-xs md:text-sm">Start
                                    listen from a song</p>
                                <p
                                    class="text-[#FFF] font-bold text-xl md:text-2xl">Suggestions
                                    just for you</p>
                            </div>
                            <!-- [begin test] Explore suggestion -->
                            <button
                                class="group w-8 h-8 ml-auto mr-14 rounded-xl md:justify-center md:items-center md:flex md:flex-row md:w-24 md:h-7 md:rounded-e-xl  bg-[#9B4DE0] hover:bg-[#FFF]">
                                <svg
                                    class="group-hover:hidden size-auto m-1 md:size-5"
                                    viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                    title="refresh">
                                    <path
                                        d="M21 3V8M21 8H16M21 8L18 5.29168C16.4077 3.86656 14.3051 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21C16.2832 21 19.8675 18.008 20.777 14"
                                        stroke="#FFF" stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                                <svg
                                    class="hidden group-hover:inline size-auto m-1 md:size-5"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                    title="refresh">
                                    <path
                                        d="M21 3V8M21 8H16M21 8L18 5.29168C16.4077 3.86656 14.3051 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21C16.2832 21 19.8675 18.008 20.777 14"
                                        stroke="#9B4DE0" stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                                <p
                                    class="hidden md:inline text-nowrap overflow-hidden md:text-xs md:font-bold text-[#FFF] group-hover:text-[#9B4DE0]">
                                    REFRESH</p>
                            </button>
                        </div>

                        <div class="w-full min-w-96">
                            <div id="music-col-explore-suggestion"
                                class="_music-col columns-1 md:columns-2 xl:columns-3 mt-5 mr-20">
                                <!-- Script will generate song in this div tag -->
                            </div>
                        </div>

                    </div>
                    <!-- End Explore suggestion -->

                 
                        </div>
                    </div>

                </div>

                <!--  End content page -->

            </div>
        </div>
        <script type="module" src="../../Components/layout.js"></script>
        <script class="page-script" type="module" src="../../Js/explore/explore.js"></script>
    </body>

</html>