<!DOCTYPE html>
<html>
    <head>
        <title>Thuong thuc am nhac</title>
        <link rel="stylesheet" href="../../Css/index-tailwind.css">
    </head>
    <body>
        <aside id="side-bar"></aside>
        <div id="main-content" class="flex-1 overflow-hidden">
            <header id="navigation-bar"></header>
            <div id="js__content"
                class="flex-1 w-full bg-[#170F23] h-full overflow-y-scroll">
                <!-- The div nay se la the duoc dua vao index.html -->
                <div id="content-page__newMusicChart"
                    class=" w-full h-full">
                    <!-- Viet content trong nay -->
                    <div class="flex justify-center">
                        <h1 class="inline-block font-Nunito font-bold text-4xl text-gradient m-2 mt-[15px]">New Music Chart</h1>
                        <button class="inline-block items-center w-[50px] h-[50px] m-2">
                            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22ZM10.6935 15.8458L15.4137 13.059C16.1954 12.5974 16.1954 11.4026 15.4137 10.941L10.6935 8.15419C9.93371 7.70561 9 8.28947 9 9.21316V14.7868C9 15.7105 9.93371 16.2944 10.6935 15.8458Z" fill="#fff"/>
                            </svg>
                        </button>
                    </div>
                    <!-- Top1 -->
                    <div class="font-Nunito flex items-center bg-transparent hover:bg-[#2f2739] hover:rounded-md max-w-[90%] mx-auto">
                        <div>
                            <h1 class="font-Nunito font-bold text-4xl text-outline1 pl-4 mr-5">1</h1>
                        </div>
                        <h1 class="font-Nunito font-normal text-[#888888] text-[50px] ml-5">-</h1>
                        <button class="ml-5 w-full h-full">
                            <div class="_music-item group font-Nunito flex flex-row items-center w-full">
                                <img class="bg-[#AAA] size-20 mt-4 mb-4 rounded-lg md:mt-2 md:mb-2 md:size-14 md:rounded-sm" src="#">
                                <div class="ml-3 flex flex-col">
                                    <p class="font-semibold text-xl text-[#FFF] group-hover:text-[#b66dde] md:text-base">Đừng khóc một mình</p>
                                    <p class="font-semibold text-sm text-[#888888] md:text-sm hover:underline">Quang Hùng MasterD</p>
                                </div>
                            </div>
                        </button>
                        <h2 class="pr-[50px] text-[#888888]">02:28</h2>
                    </div>
                    <!-- Top2 -->
                    <div class="font-Nunito flex items-center bg-transparent hover:bg-[#2f2739] hover:rounded-md max-w-[90%] mx-auto">
                        <div>
                            <h1 class="font-Nunito font-bold text-4xl text-outline2 pl-4 mr-5">2</h1>
                        </div>
                        <h1 class="font-Nunito font-normal text-[#888888] text-[50px] ml-5">-</h1>
                        <button class="ml-5 w-full h-full">
                            <div class="_music-item group font-Nunito flex flex-row items-center w-full">
                                <img class="bg-[#AAA] size-20 mt-4 mb-4 rounded-lg md:mt-2 md:mb-2 md:size-14 md:rounded-sm" src="#">
                                <div class="ml-3 flex flex-col">
                                    <p class="font-semibold text-xl text-[#FFF] group-hover:text-[#b66dde] md:text-base">Đừng khóc một mình</p>
                                    <p class="font-semibold text-sm text-[#888888] md:text-sm hover:underline">Quang Hùng MasterD</p>
                                </div>
                            </div>
                        </button>
                        <h2 class="pr-[50px] text-[#888888]">02:28</h2>
                    </div>
                    <!-- Top3 -->
                    <div class="font-Nunito flex items-center bg-transparent hover:bg-[#2f2739] hover:rounded-md max-w-[90%] mx-auto">
                        <div>
                            <h1 class="font-Nunito font-bold text-4xl text-outline3 pl-4 mr-5">3</h1>
                        </div>
                        <h1 class="font-Nunito font-normal text-[#888888] text-[50px] ml-5">-</h1>
                        <button class="ml-5 w-full h-full">
                            <div class="_music-item group font-Nunito flex flex-row items-center w-full">
                                <img class="bg-[#AAA] size-20 mt-4 mb-4 rounded-lg md:mt-2 md:mb-2 md:size-14 md:rounded-sm" src="#">
                                <div class="ml-3 flex flex-col">
                                    <p class="font-semibold text-xl text-[#FFF] group-hover:text-[#b66dde] md:text-base">Đừng khóc một mình</p>
                                    <p class="font-semibold text-sm text-[#888888] md:text-sm hover:underline">Quang Hùng MasterD</p>
                                </div>
                            </div>
                        </button>
                        <h2 class="pr-[50px] text-[#888888]">02:28</h2>
                    </div>
                    <!-- Top4,5,6,7 hahaha -->
                    <div class="font-Nunito flex items-center bg-transparent hover:bg-[#2f2739] hover:rounded-md max-w-[90%] mx-auto">
                        <div>
                            <h1 class="font-Nunito font-bold text-4xl text-outline4 pl-4 mr-5">4</h1>
                        </div>
                        <h1 class="font-Nunito font-normal text-[#888888] text-[50px] ml-5">-</h1>
                        <button class="ml-5 w-full h-full">
                            <div class="_music-item group font-Nunito flex flex-row items-center w-full">
                                <img class="bg-[#AAA] size-20 mt-4 mb-4 rounded-lg md:mt-2 md:mb-2 md:size-14 md:rounded-sm" src="#">
                                <div class="ml-3 flex flex-col">
                                    <p class="font-semibold text-xl text-[#FFF] group-hover:text-[#b66dde] md:text-base">Đừng khóc một mình</p>
                                    <p class="font-semibold text-sm text-[#888888] md:text-sm hover:underline">Quang Hùng MasterD</p>
                                </div>
                            </div>
                        </button>
                        <h2 class="pr-[50px] text-[#888888]">02:28</h2>
                    </div>

                    <div class="font-Nunito flex items-center bg-transparent hover:bg-[#2f2739] hover:rounded-md max-w-[90%] mx-auto">
                        <div>
                            <h1 class="font-Nunito font-bold text-4xl text-outline4 pl-4 mr-5">5</h1>
                        </div>
                        <h1 class="font-Nunito font-normal text-[#888888] text-[50px] ml-5">-</h1>
                        <button class="ml-5 w-full h-full">
                            <div class="_music-item group font-Nunito flex flex-row items-center w-full">
                                <img class="bg-[#AAA] size-20 mt-4 mb-4 rounded-lg md:mt-2 md:mb-2 md:size-14 md:rounded-sm" src="#">
                                <div class="ml-3 flex flex-col">
                                    <p class="font-semibold text-xl text-[#FFF] group-hover:text-[#b66dde] md:text-base">Đừng khóc một mình</p>
                                    <p class="font-semibold text-sm text-[#888888] md:text-sm hover:underline">Quang Hùng MasterD</p>
                                </div>
                            </div>
                        </button>
                        <h2 class="pr-[50px] text-[#888888]">02:28</h2>
                    </div>

                    <div class="font-Nunito flex items-center bg-transparent hover:bg-[#2f2739] hover:rounded-md max-w-[90%] mx-auto">
                        <div>
                            <h1 class="font-Nunito font-bold text-4xl text-outline4 pl-4 mr-5">6</h1>
                        </div>
                        <h1 class="font-Nunito font-normal text-[#888888] text-[50px] ml-5">-</h1>
                        <button class="ml-5 w-full h-full">
                            <div class="_music-item group font-Nunito flex flex-row items-center w-full">
                                <img class="bg-[#AAA] size-20 mt-4 mb-4 rounded-lg md:mt-2 md:mb-2 md:size-14 md:rounded-sm" src="#">
                                <div class="ml-3 flex flex-col">
                                    <p class="font-semibold text-xl text-[#FFF] group-hover:text-[#b66dde] md:text-base">Đừng khóc một mình</p>
                                    <p class="font-semibold text-sm text-[#888888] md:text-sm hover:underline">Quang Hùng MasterD</p>
                                </div>
                            </div>
                        </button>
                        <h2 class="pr-[50px] text-[#888888]">02:28</h2>
                    </div>

                    <div class="font-Nunito flex items-center bg-transparent hover:bg-[#2f2739] hover:rounded-md max-w-[90%] mx-auto">
                        <div>
                            <h1 class="font-Nunito font-bold text-4xl text-outline4 pl-4 mr-5">7</h1>
                        </div>
                        <h1 class="font-Nunito font-normal text-[#888888] text-[50px] ml-5">-</h1>
                        <button class="ml-5 w-full h-full">
                            <div class="_music-item group font-Nunito flex flex-row items-center w-full">
                                <img class="bg-[#AAA] size-20 mt-4 mb-4 rounded-lg md:mt-2 md:mb-2 md:size-14 md:rounded-sm" src="#">
                                <div class="ml-3 flex flex-col">
                                    <p class="font-semibold text-xl text-[#FFF] group-hover:text-[#b66dde] md:text-base">Đừng khóc một mình</p>
                                    <p class="font-semibold text-sm text-[#888888] md:text-sm hover:underline">Quang Hùng MasterD</p>
                                </div>
                            </div>
                        </button>
                        <h2 class="pr-[50px] text-[#888888]">02:28</h2>
                    </div>

                    <div class="font-Nunito flex items-center bg-transparent hover:bg-[#2f2739] hover:rounded-md max-w-[90%] mx-auto">
                        <div>
                            <h1 class="font-Nunito font-bold text-4xl text-outline4 pl-4 mr-5">8</h1>
                        </div>
                        <h1 class="font-Nunito font-normal text-[#888888] text-[50px] ml-5">-</h1>
                        <button class="ml-5 w-full h-full">
                            <div class="_music-item group font-Nunito flex flex-row items-center w-full">
                                <img class="bg-[#AAA] size-20 mt-4 mb-4 rounded-lg md:mt-2 md:mb-2 md:size-14 md:rounded-sm" src="#">
                                <div class="ml-3 flex flex-col">
                                    <p class="font-semibold text-xl text-[#FFF] group-hover:text-[#b66dde] md:text-base">Đừng khóc một mình</p>
                                    <p class="font-semibold text-sm text-[#888888] md:text-sm hover:underline">Quang Hùng MasterD</p>
                                </div>
                            </div>
                        </button>
                        <h2 class="pr-[50px] text-[#888888]">02:28</h2>
                    </div>

                    <div class="font-Nunito flex items-center bg-transparent hover:bg-[#2f2739] hover:rounded-md max-w-[90%] mx-auto">
                        <div>
                            <h1 class="font-Nunito font-bold text-4xl text-outline4 pl-4 mr-5">9</h1>
                        </div>
                        <h1 class="font-Nunito font-normal text-[#888888] text-[50px] ml-5">-</h1>
                        <button class="ml-5 w-full h-full">
                            <div class="_music-item group font-Nunito flex flex-row items-center w-full">
                                <img class="bg-[#AAA] size-20 mt-4 mb-4 rounded-lg md:mt-2 md:mb-2 md:size-14 md:rounded-sm" src="#">
                                <div class="ml-3 flex flex-col">
                                    <p class="font-semibold text-xl text-[#FFF] group-hover:text-[#b66dde] md:text-base">Đừng khóc một mình</p>
                                    <p class="font-semibold text-sm text-[#888888] md:text-sm hover:underline">Quang Hùng MasterD</p>
                                </div>
                            </div>
                        </button>
                        <h2 class="pr-[50px] text-[#888888]">02:28</h2>
                    </div>


                    <div class="font-Nunito flex items-center bg-transparent hover:bg-[#2f2739] hover:rounded-md max-w-[90%] mx-auto">
                        <div>
                            <h1 class="font-Nunito font-bold text-4xl text-outline4 pl-4">10</h1>
                        </div>
                        <h1 class="font-Nunito font-normal text-[#888888] text-[50px] ml-5">-</h1>
                        <button class="ml-5 w-full h-full">
                            <div class="_music-item group font-Nunito flex flex-row items-center w-full">
                                <img class="bg-[#AAA] size-20 mt-4 mb-4 rounded-lg md:mt-2 md:mb-2 md:size-14 md:rounded-sm" src="#">
                                <div class="ml-3 flex flex-col">
                                    <p class="font-semibold text-xl text-[#FFF] group-hover:text-[#b66dde] md:text-base">Đừng khóc một mình</p>
                                    <p class="font-semibold text-sm text-[#888888] md:text-sm hover:underline">Quang Hùng MasterD</p>
                                </div>
                            </div>
                        </button>
                        <h2 class="pr-[50px] text-[#888888]">02:28</h2>
                    </div>

                    <div class="font-Nunito flex items-center bg-transparent hover:bg-[#2f2739] hover:rounded-md max-w-[90%] mx-auto">
                        <div>
                            <h1 class="font-Nunito font-bold text-4xl text-outline4 pl-4">11</h1>
                        </div>
                        <h1 class="font-Nunito font-normal text-[#888888] text-[50px] ml-5">-</h1>
                        <button class="ml-5 w-full h-full">
                            <div class="_music-item group font-Nunito flex flex-row items-center w-full">
                                <img class="bg-[#AAA] size-20 mt-4 mb-4 rounded-lg md:mt-2 md:mb-2 md:size-14 md:rounded-sm" src="#">
                                <div class="ml-3 flex flex-col">
                                    <p class="font-semibold text-xl text-[#FFF] group-hover:text-[#b66dde] md:text-base">Đừng khóc một mình</p>
                                    <p class="font-semibold text-sm text-[#888888] md:text-sm hover:underline">Quang Hùng MasterD</p>
                                </div>
                            </div>
                        </button>
                        <h2 class="pr-[50px] text-[#888888]">02:28</h2>
                    </div>
                
                </div>

            </div>
        </div>
        <script type="module" src="../../Components/layout.js"></script>
    </body>
</html>