<!DOCTYPE html>
<html>
    <head>
        <title>Thuong thuc am nhac</title>
        <link rel="stylesheet" href="../../Css/index-tailwind.css">
    </head>
    <body>
        <aside id="side-bar"></aside>
        <div id="main-content" class="flex-1 overflow-hidden">
            <header id="navigation-bar"></header>
            <div id="js__content"
                class="flex-1 w-full bg-[#170F23] overflow-y-scroll">

                <div id="content-page__leelunchart"
                    class=" w-full h-full overflow-x-hidden">


                    <!-- Title & Chart bar -->
                    <div class="w-full ml-10 flex flex-col mr-10">
                        <p class="mb-5 mt-3 bg-gradient-to-r from-[#ff9d00] via-[#40DCFF] to-[#FF2323] font-Nunito font-semibold text-3xl w-fit text-transparent bg-clip-text">#leelunchart</p>

                        <div class="w-full h-fit">
                            <canvas id="chartBar"
                                class="w-full h-60 mr-10 xl:h-80 "></canvas>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <script type="module" src="../../Components/layout.js"></script>
        <script class="page-script no-reload" 
            src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script class="page-script" type="module"
            src="../../Js/leelunchart/leelunchart.js"></script>

    </body>
</html>